### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:
- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [1]:
a=100

In [2]:
## declaring and assigning variables 

age=32
height=6.1
name="Archit"
okay=True

print("age",age)
print("height",height)
print("name",name)
print("okay",okay)

age 32
height 6.1
name Archit
okay True

In [4]:
## naming conventions 
## variable name should be descriptve 
## they must start with a  letter or '_' and contain letter,number and underscores 
## varaibles name are case sensitive

first_name="archit"
last_name="tanwar"

print(first_name,last_name)

archit tanwar

In [5]:
## invalid varaibles 
 ## 2 age =32 
 ## first-name="Archit"
 ## @name="krish"

In [8]:
## case senstivie

name="Krish"
Name="krish"

print(name==Name)

False

In [11]:
## understanding variables types 
## python is dynamically type,type of a varaible is determine at run time 
age =25 # int 
height=6.1 #float 
name="Archit" #str
bool=True #bool

print(type(age))

<class 'int'>

In [12]:
## type  checking and conversion 
type(height)

float

In [13]:
age=25
print(type(age))

age=str()
print(type(age))

<class 'int'>
<class 'str'>

In [19]:
## numerical  value can be type conversion
name='25'
name=int(name)
print(type(name))

<class 'int'>

In [20]:
## error in type conversion
name="Archit"
int(name)

ValueError: invalid literal for int() with base 10: 'Archit'

In [21]:
height=6.3
type(height)

float

In [24]:
float(int(height))

6.0

In [26]:
## dynamically typing
var=10 #int
print(var,type(var))

## python allow the type of varaible to chane as the program excutes

var="hell"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
hell <class 'str'>
3.14 <class 'float'>

In [30]:
## input 
age=input("enter the age ")
print(age,type(int(age)))

34 <class 'int'>

In [40]:
## simple calculator
num1=float(input("Enter the first number"))
num2=float(input("Enter the second number"))

sum=num1+num2
subtract=num1-num2
division=num1/num2
multiply=num1*num2

print("sum",sum)
print("subtract",subtract)
print("multiply",multiply)
print("division",division)

int