#### Loops
Video Outline:
1. Introduction to Loops
2. for Loop
   - Iterating over a range
   - Iterating over a string

3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [3]:
range(5)

range(0, 5)

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [5]:
## reverse 
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [6]:
str= "Archit Tanwar"
for i in str:
    print(i)

A
r
c
h
i
t

T
a
n
w
a
r

In [11]:
count=0
while(count<5):
    print(count)
    count=count+1

0
1
2
3
4

In [15]:
count = 3
while count %2==0:
    print(count)
    count=count+1
else:
    print("count value not found")

count value not found

In [18]:
## loop control statments

## break 
## break statemtents exist the loop permaturely 

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [21]:
## continue 
## continue statemnts skip the current iteration and continue with the next 

for i in range(10):
    if i %2==0:
        continue
    print(i)

1
3
5
7
9

In [24]:
#pass
 ## pass statement is null operator and do nothing 
 
for i in range(5):
    
    if i %2==0:
        
        pass
    print(i)

0
1
2
3
4

In [25]:
## nested loop
#nothing but loop inside another loop
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")   # short form of displaying string

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [42]:
## examples - calculate the sum of first n natural number using loop

num=int(input("enter the n natural number "))
sum=0
count=1
while count<=num:
    sum=sum+count
    count= count+1
print("the sum of first n natural number is ",sum)

# using for loop
num=int(input("enter the n natural number "))
sum=0
for i in range(num+1):
     sum+=i
    
print("the sum of first n natural number is ",sum)

the sum of first n natural number is  55
the sum of first n natural number is  55

In [45]:
## example prime numbers between 1 to 100 
for num in range (1,101):
    if num>1:
        for i in range(2,num):
            if num % i ==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97